doctype html
html
    head
        <script src="http://libs.baidu.com/jquery/1.9.0/jquery.js"></script>
        <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
    body
        h1 测试2
        - var a = [1,2,4,5]
        for i in a
            h2= i
